MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=contraseña
MYSQL_DATABASE=comercio360
DATABASE_ECHO=false

JWT_SECRET_KEY=tu_clave_secreta_aqui
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60